// Buttons
// -------------------------

%ButtonBase {
    display: inline-block;
    border-radius: 4px;
    padding: 7px 20px;
    margin: 0 5px;
    min-width: 150px;
    text-align: center;
    text-decoration: none;

    // Default Sizing
    font: normal 1.6rem Helvetica;
}

    // Button Types
    .ButtonPrimary {
        @extend %ButtonBase;
        
        color: $white_color;
        background-color: $black_color;

        &:hover {
            background-color: lighten($black_color, 10%);
        }
    }

    // Button Sizes 
    .Button--small {
        font: normal 1.2rem Helvetica;
    }


%LinkBase {

}
    .LinkPrimary {
        color: $text_dark_color;
        padding: 0 0 1px 0;
        text-decoration: none;
        letter-spacing: 0.1rem;
        border-bottom: 2px solid $primary_color;
    }
        .LinkPrimary:hover {
            color: $primary_color;
            padding: 0 0 3px 0;
        }
    
    .Link--return {
        font-size: 1.3rem;
        font-family: $font_sans;
        color: $text_light_color;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        text-decoration: none;
    }
        .Link--return:hover {
            color: $dark_color;
        }
