// Color Variables
// -------------------------

// $dark_color:        #233B4A;
// $dark_color:        #2E4C5F;
$dark_color:        #172F3D;
// $primary_color:     #F77170;
// $primary_color:     #CE3938;
// $primary_color:     #F5A623;
$primary_color:     #22A1E7;
// $accent_color:      #FFD175;
$accent_color:      #F5A623;

$white_color:       #FFFFFF;
$black_color:       #000000;
$gray_dark_color:   #333333;
$gray_medium_color: #666666;
$gray_light_color:  #999999;
$gray_xlight_color: #CCCCCC;

$link_light_color:  #FFFFFF;
$link_dark_color:   #FFFFFF;

$text_xlight_color: #CACFD5;
$text_light_color:  #999999;
$text_medium_color: #666666;
$text_dark_color:   #333333;