// Navigation Styles
// -------------------------


// Primary Nav in the Header on the Home Page
.NavPrimary {
    margin: 0 auto 0 auto;
    display: flex;
    align-content: stretch;
    justify-content: flex-end;
    max-width: $max_width;
    padding: 50px 50px 0 50px;
}
    .NavPrimary-Home {
        position: relative;
        margin: 0;
        font-family: $font_serif;
        font-size: 2.0rem;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        flex: 1;
        color: $gray_xlight_color;
    }
    // .NavPrimary-List--h {
    //     display: inline;
    //     list-style-type: none;
    //     list-style-position: inside;
    //     margin: 0;
    //     padding: 0;
    // }
    // .NavPrimary-List--v {}
    //     .NavPrimary-Item--h {
    //         display: inline-block;
    //         margin:0 0 0 75px;
    //         font-family: aktiv-grotesk-std;
    //         font-size: 1.4rem;
    //         font-weight: 400;
    //         text-transform: uppercase;
    //     }
    //         .NavPrimary-Item--h:first-child {
    //             margin: 0;
    //         }
    //     .NavPrimary-Item--v {

    //     }


// Nav in the Footers
.NavFooter {
    margin: 0 auto 0 auto;
    display: flex;
    align-content: stretch;
    justify-content: flex-end;
    max-width: $max_width;
    padding: 25px 0;
}
    .NavFooter-Logo {
        position: relative;
        margin: 0;
        font-family: $font_serif;
        font-size: 2.0rem;
        text-transform: uppercase;
        letter-spacing: 0.25rem;
        flex: 1;
        color: $gray_xlight_color;
    }
    .NavFooter-Tagline {
        font-size: 1.6rem;
        flex: 3;
    }
