<header class="ContentContainer--full Content-Header">
    
    {% include navigation.html %}

    <section class="Hero">
        <h1 class="Hero-Question--fixed">What if everyone on your team</h1>
        <h1 class="Hero-Question--rotated">
            <!-- Rotated: "better understood your users?", "could see the whole picture?", "made smarter decisions?", "built on past learning?" (see: main.js) -->
        </h1>
        <h2 class="Hero-Pitch">PRODUCTX helps you learn more from user research.</h2>
    </section> 

</header>
