<header class="ContentContainer--full BlogHeader">
    
    <a class="Link--return" href="{{ site.baseurl }}/">&larr; Product Home</a>

    <h1 class="BlogTitle">observed <span class="BlogTitle--alt">product blog</span></h1>
    <p class="BlogDescription">We're building a tool to help your team learn more from user research. Read along as we do our own research to see what we need to make this product a reality.</p>

    <p class="BlogByline"><span class="h-lowercase">by</span> Craig Zheng, Nick Sergeant, <span class="h-lowercase">and</span> Nick Adams</p>

</header>
