<header class="ContentContainer--full BlogHeader">
    
    <a class="Link--returnOnDark" href="{{ site.baseurl }}/">&larr; Product Home</a>

    <h1 class="BlogTitle">observed <span class="BlogTitle--alt">product blog</span></h1>
    <p class="BlogDescription">We're building a tool to help your team learn more from user research. Along the way we're doing our own kind of research. Here we'll share our findings as we work to make this product a reality.</p>

    <p class="BlogByline"><span class="h-lowercase">by</span> Craig Zheng, Nick Sergeant, <span class="h-lowercase">and</span> Nick Adams</p>

</header>
