// Home Page Styles
// -------------------------

.BlogHeader {
    margin-left: 50px;
    font-family: $font_serif;
}
    .BlogTitle {
        font-family: $font_serif;
        font-weight: 400;
        font-size: 3.6rem;
        line-height: 2.6rem;
    }
    .BlogDescription {
        font-family: $font_serif;
    }