// Home Page Styles
// -------------------------

.Content-Home {
    padding: 0;
}

// Pre-Launch Teaser Content
    
    .OpeningLetter {
        font-size: 2.6rem;
        line-height: 4.8rem;
        max-width: $max_width;
        margin: 0 auto 100px auto;
        padding: 0 200px 0 50px;
        color: $gray_medium_color;
    }
       .OpeningLetter p {
            font-family: $font-serif;
            font-size: 1.8rem;
            line-height: 3.6rem;
            max-width: 70%;
       }

    
    .LatestBlogPosts {
        width: 100%;
        max-width: $max_width;
        margin: 0 auto 0;
        padding: 75px 50px;
        background-color: lighten($gray_xlight_color, 17%);
    }
        .LatestBlogPosts-Title {
            font-size: 1.6rem;
            font-weight: 400;
            letter-spacing: 0.5rem;
            border-top: 2px solid $gray_medium_color;
            color: $gray_medium_color;
            text-transform: uppercase;
            padding: 10px 0 0 0;
            display: inline-block;
        }

        .LatestBlogPosts-List {
            list-style-position: inside;
            list-style-type: none;
            margin: 50px 0;
            padding: 0;
        }
            .LatestBlogPosts-List li {
                margin: 50px 0;
            }

        .LatestBlogPost-Date {
            font-size: 1.6rem;
            text-transform: uppercase;
            color: $text_light_color;
        }

        .LatestBlogPost-Title {
            font-weight: 800;
        }
