// Home Page Styles
// -------------------------

.Content-Benefits {
    padding: 0;
}
    .BenefitsTitle {
        font-size: 2.6rem;
        line-height: 4.8rem;
        max-width: $max_width;
        margin: 0 auto 100px auto;
        padding: 0 200px 0 50px;
        color: $gray_medium_color;
    }
        .BenefitsTitle-Intro {
            font-family: $font_serif;
            font-size: 2.2rem;
            line-height: 3.4rem;
            font-style: italic;
            color: $gray_xlight_color;
            display: block;
            border-bottom: solid 2px $gray_xlight_color;
            width: 50px;
            margin: 0 0 30px 0;
        }
        .BenefitsTitle-Highlight {
            // font-style: italic;
            font-size: 4.6rem;
            color: lighten($dark_color, 20%);
        }

    %Benefit {
        margin: 0 auto 100px auto;
        padding: 25px 0 0 0;
        height: 525px;
        background-size: contain;
        // background-image: url("../img/bg-screenshotplaceholder.png");
        background-repeat: no-repeat;
        min-width: 1024px;
    }
        .Benefit--leftAlign {
            @extend %Benefit;
            background-position: 101% 0;
        }
        .Benefit--rightAlign {
            @extend %Benefit;
            background-position: 102% 0;
            padding-left: 55%;
        }
        .Benefit--rightAlign:before,
        .Benefit--leftAlign:before {
            content: "";
            position: absolute;
            width: 110px;
            height: 210px;
            background-color: $primary_color;
            float: right;                
            margin: 0;
            position: absolute;
            right: 600px;
            display: none;
        }
            .Benefit--1 {
                background-image: url("../img/benefits/bg-Benefit--1.png");
            }
            .Benefit--2 {
                background-image: url("../img/benefits/bg-Benefit--2.png");
            }
            .Benefit--3 {
                background-image: url("../img/benefits/bg-Benefit--3.png");
            }
            .Benefit--4 {
                background-image: url("../img/benefits/bg-Benefit--4.png");
            }

        .BenefitContent {
            max-width: $max_width;
            margin: 0 auto;
            padding: 50px 50px 0 40px;
        }
            .BenefitContent-Title {
                font-family: $font_serif;
                font-size: 2.0rem;
                line-height: 3.2rem;
                color: $gray_medium_color;
                background-color: $white_color;
                margin: 15px 0 5px 0;
                padding: 10px;
                max-width: 450px;
            }
            .BenefitContent-Copy {
                font-family: $font_serif;
                font-size: 1.6rem;
                line-height: 2.6rem;
                color: $gray_light_color;
                background-color: $white_color;
                margin: 0 0 15px 0;
                padding: 10px;
                max-width: 450px;
            }

        .BenefitExample {
            max-width: $max_width;
            margin: 0 auto;
            padding: 0 50px 0 40px;
        }
            .BenefitExample-Copy {
                color: $gray_light_color;
                font-family: $font_serif;
                font-style: italic;
                font-size: 1.6rem;
                max-width: 410px;
                background-color: $white_color;
                padding: 10px;
            }
                .BenefitExample-Figure {
                    font-family: $font_serif;
                    font-style: italic;
                    font-size: 1.6rem;
                    line-height: 1.8rem;
                    color: $gray_medium_color;
                    border-bottom: 3px solid $gray_medium_color;
                    background-color: $white_color;
                    display: block;
                    margin: 100px 0 0 10px;
                    padding: 10px 10px 0 0;
                    width: 20px;               
                }

    