// Helper Classes
// -------------------------

// Clears floated content
.h-clear {
    content: "";
    display: table;
    clear: both;
}

.h-verticalAlign {
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
}


.h-isVisible {
    opacity: 1;
    display: inherit;
}
.h-isHidden {
    opacity: 0;
    display: none;
}

.h-lowercase {
    text-transform: lowercase !important;
}
.h-uppercase {
    text-transform: uppercase !important;
}

.h-preventScroll {
    overflow: hidden;
}
